body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
     
}

header{
    width: 100%;
    height: 50px;
    background-color: #5025d1ce;
    padding: 10px 20px;
    position: fixed; /* menu fixo na tela*/
    top: 0;
    z-index: 999;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.logo{
    font-size: 20px;
    width: 60px;
    border: 50px;
    margin-left: 10px;
    border-radius: 10px;
    text-align: center;
}

a{
    color: #706c6c;
    text-decoration: none;
}

.hambuguer, img{
   display: none;
 
   width: 30px;
   height: 30px;
}

.menu{
    list-style: none;
    display: flex;
    align-items: center;
   
}

li, a{
  font-size: 15px;
  text-transform: uppercase;
  margin-left: 10px;
  display: block;
  padding: 2px 2px;
  text-decoration: none;
  color: #ebe5e5;
  transition: 0.5s ease;
  
}

a:hover{
    color: #070707;
}